<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    <a class="site-title" rel="author" style="font-weight: bold; color: #444444;" href="../">BananaTL</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">...</svg>
        </span>
      </label>

      <div class="trigger">
        {% for item in site.data.menu %}
          <ul class="menu">
            {% for entry in item.subfolderitems %}
              <li>
                {% if entry.subsubfolderitems[0] %}
                  {% capture dropdown_id %}dropdown-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{% endcapture %}
                  <div class="dropdown">
                    <button class="dropbtn header-droplink"
                            onclick="navbarDropdown('{{ dropdown_id }}')">
                      {{ entry.name }}
                    </button>
                    <ul class="dropdown-content" id="{{ dropdown_id }}">
                      {% for subentry in entry.subsubfolderitems %}
                        <li>
                          <a class="header-dropcontent" href="{{ subentry.url }}" target="_blank">
                            {{ subentry.name }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% else %}
                  <div class="dropdown">
                    <button class="dropbtn header-link"
                            onclick="window.open('{{ entry.url }}', '_blank')" type="button">
                      {{ entry.name }}
                    </button>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </nav>
  </div>
</header>