{% include chapter_tagging.html %}
{% assign start = false %}
{% for post in site.posts %}	
	{% if start == true and post.tags contains 'absr' %}
		{% assign prevChap = post %}
		{% break %}
	{% endif %}			
	{% if post.url == page.url %}
		{% assign start = true %}
	{% endif %}				
{% endfor %}
{% assign stop = false %}
{% for post in site.posts reversed %}	
	{% if stop == true and post.tags contains 'absr' %}
		{% assign nextChap = post %}
		{% break %}
	{% endif %}			
	{% if post.url == page.url %}
		{% assign stop = true %}
	{% endif %}				
{% endfor %}

<div class="centersel">
<select class="cmb"  onchange="location = this.value;" style="width: 350px">
	{% for post in site.posts reversed %}	
		{% if post.tags contains 'absr' %}
			<option value="{{post.url}}">{{post.title}}</option>
		{% endif %}				
	{% endfor %}
</select> 
<p><br /></p>
</div>

<div class="post_navi" style="font-size: 16px; margin-bottom: 15px;">
  {%- if prevChap.url -%}
  <a class="post_navi-item nav_prev" href="{{prevChap.url}}" title="{{ prevChap.title }}">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Previous Chapter</div><div><span>{{ prevChap.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="/ABSR/" title="Chapters">
    <div class="post_navi-arrow">&lt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
  {%- if nextChap.url -%}
  <a class="post_navi-item nav_next" href="{{ nextChap.url }}" title="{{ nextChap.title }}">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Next Chapter</div><div><span>{{ nextChap.title }}</span></div>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="/ABSR/" title="Chapters">
    <div class="post_navi-arrow">&gt;</div><div class="post_navi-label">Chapters</div><div><span>Chapters</span></div>
  </a>
  {%- endif -%}
</div>

<div class="centersell">
	<p><br /></p>
	<p style="font-size:0.8em; margin-bottom: 15px;">Subscribe to Updates via <a href="{{ 'feed.absr.xml' | relative_url }}" target="_blank">RSS</a>, or <a href="https://discord.gg/s3AsADMkNQ" target="_blank">Discord</a>!</p>
	<p style="font-size:0.8em;">If you enjoyed reading Absolute Regression, try reading <a href="https://northbladetl.com/ABSW/">Absolute Warrior</a> by the same author, and follow the adventures of Agent Crimson Tiger as he carries out Mission Impossible in murimland!</p>
	<p style="font-size:0.8em;">Please buy the <a href='https://series.naver.com/novel/detail.series?productNo=8981942'  target="_blank">Novel Raws</a> and support the author! If you can't get Naver ID verification, consider buying one of the author's completed novels at <a href='https://ridibooks.com/author/2790'>Ridibooks</a>!</p>
<h2></h2>
</p>
	<p><br /></p>
</div>